body {
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  background-color: #FFE7CE;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  min-height: auto;
  background-image: url(../IMG/FONDO7.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}
body .container {
  background-color: rgba(0, 0, 0, 0.705);
  border-radius: 10px;
  margin-top: 10px;
  padding: 0;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.827);
  grid-area: header;
}
.navbar .navbar-brand {
  border-radius: 160px;
  padding: 10px;
  margin: 5px;
}
.navbar .btn-group {
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(255, 255, 255);
  margin: 5px;
  background-color: rgba(179, 176, 176, 0.627);
}
.navbar .nav-item {
  border-style: solid;
  border-radius: 10px;
  border-color: rgba(255, 255, 255, 0.527);
  margin: 5px;
  background-color: rgba(179, 176, 176, 0.627);
}
.navbar .nav-item .nav-link {
  color: white;
  font-size: large;
  font-style: oblique;
}

.imagen_inicio {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

.main_nosotros {
  display: grid;
  justify-content: center;
  grid-area: main;
  grid-template-areas: "titulo1 titulo1 titulo1" "nosotros1 nosotros2 nosotros2" "servicios1 servicios1 servicios1" "texto1 texto2 texto3" "footer footer footer";
}
.main_nosotros .titulo_nosotros {
  color: #EE9322;
  grid-area: titulo1;
  padding: 25px;
}
.main_nosotros .titulo_nosotros h1 {
  text-decoration: underline;
}
.main_nosotros .titulo_nosotros p {
  font-size: xx-large;
}
.main_nosotros .texto1_nosotros {
  color: white;
  grid-area: nosotros1;
  background-color: rgba(7, 7, 7, 0.726);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border-color: #219C90;
  border-style: solid;
  height: 400px;
  font-size: xx-large;
  text-align: center;
}
.main_nosotros .texto2_nosotros {
  grid-area: nosotros2;
  background-color: rgba(7, 7, 7, 0.726);
  font-size: x-large;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border-color: #219C90;
  border-style: solid;
  justify-items: start;
}
.main_nosotros .servicios {
  grid-area: servicios1;
  padding: 25px;
  color: #E9B824;
}
.main_nosotros .servicios h2 {
  text-decoration: underline;
}
.main_nosotros .servicios p {
  font-size: x-large;
}
.main_nosotros .text1 {
  grid-area: texto1;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-size: large;
  background-color: rgba(7, 7, 7, 0.726);
  border-style: solid;
  border-color: gray;
  border-radius: 10px;
}
.main_nosotros .text2 {
  grid-area: texto2;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: rgba(7, 7, 7, 0.726);
  border-style: solid;
  border-color: gray;
  border-radius: 10px;
}
.main_nosotros .text2 p {
  font-size: large;
}
.main_nosotros .text3 {
  grid-area: texto3;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-size: large;
  background-color: rgba(7, 7, 7, 0.726);
  border-style: solid;
  border-color: gray;
  border-radius: 10px;
}

.main_obras {
  margin: 10px;
}
.main_obras .cards {
  display: flex;
  flex-wrap: wrap;
}
.main_obras .cards .card {
  margin: 10px;
}
.main_obras .cards .card img {
  height: 300px;
}

.main_cajas {
  margin: 10px;
}
.main_cajas .cards {
  display: flex;
  flex-wrap: wrap;
}
.main_cajas .cards .card {
  margin: 10px;
}
.main_cajas .cards .card img {
  height: 300px;
}

.main_tomas {
  margin: 10px;
}
.main_tomas .cards {
  display: flex;
  flex-wrap: wrap;
}
.main_tomas .cards .card {
  margin: 10px;
}
.main_tomas .cards .card img {
  height: 300px;
}

.main_cables {
  margin: 10px;
}
.main_cables .cards {
  display: flex;
  flex-wrap: wrap;
}
.main_cables .cards .card {
  margin: 10px;
}
.main_cables .cards .card img {
  height: 300px;
}

.main_productos {
  margin: 20px;
}
.main_productos .carrito_tabla {
  margin: 20px;
}
.main_productos .cards {
  display: flex;
  flex-wrap: wrap;
}
.main_productos .cards .card {
  margin: 10px;
}
.main_productos .cards .card img {
  height: 300px;
}

footer {
  margin-top: 10px;
  background-color: #080808;
  bottom: 0;
  grid-area: footer;
}
footer .parrafo_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .parrafo_footer .text1 {
  font-size: larger;
  padding-top: 5px;
  margin: 10px;
  width: 200px;
}
footer .parrafo_footer .text1 .img_footer {
  padding-left: 35px;
}
footer .parrafo_footer .text2 {
  font-size: larger;
  margin: 10px;
  margin-left: 20px;
  width: 200px;
}
footer .parrafo_footer .text2 .img_footer2 {
  width: 150px;
}
footer .listaredes {
  grid-area: redes;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
footer .listaredes li {
  list-style: none;
  margin: 5px;
}

@media (min-width: 480px) and (max-width: 991px) {
  .nav-item {
    border-radius: 5px;
    border-style: solid;
    margin: 5px;
    border-color: rgba(102, 102, 102, 0.832);
    width: 100px;
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 790px) {
  body {
    grid-template-areas: "header" "main" "footer";
    background-image: url(../IMG/FONDO7.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  /*---------------------RESPONSIVE HEADER-------------------------------*/
  .nav-item {
    /*background-color: rgba(243, 158, 79, 0.808);*/
    border-radius: 5px;
    border-style: solid;
    margin: 5px;
    border-color: rgba(102, 102, 102, 0.832);
    width: 100px;
    text-align: center;
  }
  .main_nosotros {
    display: grid;
    justify-content: center;
    grid-area: main;
    grid-template-areas: "titulo1" "nosotros1" "nosotros2" "servicios1" "texto1" "texto2" "texto3" "footer";
  }
}

/*# sourceMappingURL=styles.css.map */
