.navbar{
    background-color: rgba(0, 0, 0, 0.827);
    grid-area: header;
    .navbar-brand {
         border-radius: 160px;
         padding: 10px;
         margin: 5px;
    }
    .btn-group{
        border-style: solid;
       border-radius: 10px;
       border-color: rgb(255, 255, 255);
       margin: 5px;
       background-color: rgba(179, 176, 176, 0.627);
       }
    .nav-item{
        
        border-style: solid;
        border-radius: 10px;
        border-color: rgba(255, 255, 255, 0.527);
        margin: 5px;
        background-color: rgba(179, 176, 176, 0.627);
        .nav-link{
            color: white;
            font-size: large;
            font-style:oblique;
        }
       
    }
}